@import url("styles/header.css");


:root{
    --cor-de-fundo:#ebecee;
    --branco:#ffffff;
    --laranja:#FECD2F;
   }

 body{
    background-color: var(--cor-de-fundo);
 }

 h1{
    background-color:white;
 }
